.common-layout {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.iconfont {
    font-size: 20px;
    color: #333333;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        color: #909399;
    }
}

.m-b-20 {
    margin-bottom: 20px;
}

.text-right{
    text-align: right;
}
.m-r-10 {
    margin-right: 10px;
}

.vertical-middle {
    vertical-align: middle;
}

.confirm-modal-container{
    .el-dialog__header{
        border-bottom: none !important;
        .dialog-title{
            font-size: 16px;
            font-family: MicrosoftYaHei, MicrosoftYaHei-Bold;
            font-weight: 700;
        }
    }
    .el-dialog__body{
        padding: 10px !important;
        .model-content{
            display: flex;
            align-items: center;
            .el-icon, .el-icon svg{
                color: #ffb302;
                width: 25px !important;
                height: 25px !important;
                vertical-align: middle;
            }
        }
    }
    .el-dialog__footer{
        border-top: none !important;
        .el-button{
            height: 35px !important;
            width: 80px;
            span{
                font-size: 14px;
                font-family: PingFangSC, PingFangSC-Medium !important;
                font-weight: 500 !important;
                color: #333333 !important;
                padding: 8px 10px;
            
            }
        }
        
    }
}